<div class="font-sans">
  <div class="p-4 lg:max-w-6xl bg-slate-300 max-w-2xl max-lg:mx-auto">
    <div
      class="grid items-start grid-cols-1 lg:grid-cols-2 gap-8 max-lg:gap-16"
    >
      <div class="w-full lg:sticky top-0 text-center">
        <div class="lg:h-[560px]">
          <img
            src="{{ product?.image }}"
            alt="Product"
            class="lg:w-11/12 w-full h-full rounded-md object-cover object-top"
          />
        </div>
      </div>

      <div>
        <div class="flex flex-wrap items-start gap-4">
          <div>
            <h2 class="text-2xl font-bold text-gray-800">
              {{ product?.name }}
            </h2>
            <p class="text-sm text-gray-500 mt-2">
              Brand: {{ product?.brand }}
            </p>
            <p class="text-sm text-gray-500 mt-2">
              Category: {{ product?.category }}
            </p>
          </div>
        </div>

        <hr class="my-8" />

        <div class="flex flex-wrap gap-4 items-start">
          <div>
            <p class="text-gray-800 text-4xl font-bold">
              {{ product?.price }} BGN
            </p>
          </div>
        </div>

        @if (product?.category === 'Sneakers' || product?.category ===
        'Clothing') {
        <hr class="my-8" />
        <div>
          <h3 class="text-xl font-bold text-gray-800">Available sizes</h3>
          <div class="flex flex-wrap gap-4 mt-4">
            @for (size of product?.sizes; track $index) {
            <div
              class="w-10 h-10 border font-semibold text-sm rounded-md flex items-center justify-center shrink-0"
            >
              {{ size.size }}
            </div>
            }
          </div>
        </div>
        }

        <hr class="my-8" />

        <div>
          <h3 class="text-xl font-bold text-gray-800">Color</h3>
          <p class="text-sm text-gray-500 mt-2">{{ product?.color }}</p>
        </div>

        <hr class="my-8" />

        <div class="flex flex-wrap gap-4">
          <button
            class="min-w-[200px] px-4 py-3 bg-gray-800 hover:bg-gray-900 text-white text-sm font-semibold rounded-md"
            z
            (click)="addItem(productId, 1)"
          >
            Add to cart
          </button>
          <button
            type="button"
            class="min-w-[200px] px-4 py-2.5 border border-gray-800 bg-transparent hover:bg-gray-50 text-gray-800 text-sm font-semibold rounded-md"
            rotuerLink="/home"
          >
            Continue shopping
          </button>
        </div>
      </div>
    </div>

    <div class="mt-20 max-w-4xl">
      <ul class="flex border-b">
        <li
          class="text-gray-800 font-semibold text-sm bg-gray-100 py-3 px-8 border-b-2 border-gray-800"
        >
          Description
        </li>
      </ul>

      <div class="mt-8">
        <h3 class="text-xl font-bold text-gray-800">{{ product?.name }}</h3>
        <p class="text-sm text-gray-500 mt-4">
          {{ product?.description }}
        </p>
      </div>
    </div>
  </div>
</div>
