<form
  class="max-w-xl mx-auto bg-gray-100 p-6 rounded-lg shadow-md"
  (ngSubmit)="onSubmit()"
  [formGroup]="productForm"
>
  <div class="grid gap-6 mb-6 md:grid-cols-2">
    <div>
      <label for="name" class="block mb-2 text-sm font-medium text-black"
        >Name</label
      >
      <input
        type="text"
        id="name"
        formControlName="name"
        class="bg-gray-50 border border-blue-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="John"
        required
      />
      @if (productForm.get('name')?.touched && productForm.get('name')?.hasError('required')) {
        <div class="text-red-500 text-sm">
          Name is required!
        </div>
      }
    </div>

    <div>
      <label for="category" class="block mb-2 text-sm font-medium text-black"
        >Category</label
      >
      <select
        id="category"
        formControlName="category"
        (change)="onCategoryChange()"
        class="bg-gray-50 border border-blue-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        required
      >
        <option value="">Choose a category</option>
        <option value="Sneakers">Sneakers</option>
        <option value="Clothing">Clothing</option>
        <option value="Accessories">Accessories</option>
      </select>
      @if (productForm.get('category')?.touched && productForm.get('category')?.hasError('required')) {
        <div class="text-red-500 text-sm">
          Category is required!
        </div>
      }
    </div>

    <div>
      <label for="brand" class="block mb-2 text-sm font-medium text-black"
        >Brand</label
      >
      <select
        id="brand"
        formControlName="brand"
        class="bg-gray-50 border border-blue-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        required
      >
        <option value="">Choose a brand</option>
        <option value="Nike">Nike</option>
        <option value="Adidas">Adidas</option>
        <option value="Puma">Puma</option>
        <option value="New Balance">New Balance</option>
        <option value="Asics">Asics</option>
      </select>
      @if (productForm.get('brand')?.touched && productForm.get('brand')?.hasError('required')) {
        <div class="text-red-500 text-sm">
          Brand is required!
        </div>
      }
    </div>

    <div>
      <label for="image" class="block mb-2 text-sm font-medium text-black"
        >Image URL</label
      >
      <input
        type="url"
        id="image"
        formControlName="image"
        class="bg-gray-50 border border-blue-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        required
      />
      @if (productForm.get('image')?.touched && productForm.get('image')?.hasError('required')) {
        <div class="text-red-500 text-sm">
          Image is required!
        </div>
      }
    </div>

    <div>
      <label for="color" class="block mb-2 text-sm font-medium text-black"
        >Color</label
      >
      <input
        type="text"
        id="color"
        formControlName="color"
        class="bg-gray-50 border border-blue-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="e.g., Red"
        required
      />
      @if (productForm.get('color')?.touched && productForm.get('color')?.hasError('required')) {
        <div class="text-red-500 text-sm">
          Color is required!
        </div>
      }
    </div>

    <div>
      <label for="material" class="block mb-2 text-sm font-medium text-black"
        >Material</label
      >
      <input
        type="text"
        id="material"
        formControlName="material"
        class="bg-gray-50 border border-blue-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="e.g., Cotton"
        required
      />
      @if (productForm.get('material')?.touched && productForm.get('material')?.hasError('required')) {
        <div class="text-red-500 text-sm">
          Material is required!
        </div>
      }
    </div>

    <div>
      <label for="gender" class="block mb-2 text-sm font-medium text-black"
        >Gender</label
      >
      <select
        id="gender"
        formControlName="gender"
        class="bg-gray-50 border border-blue-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        required
      >
        <option value="">Choose gender</option>
        <option value="Man">Man</option>
        <option value="Lady">Lady</option>
        <option value="Unisex">Unisex</option>
      </select>
      @if (productForm.get('gender')?.touched && productForm.get('gender')?.hasError('required')) {
        <div class="text-red-500 text-sm">
          Gender is required!
        </div>
      }
    </div>

    <div>
      <label for="price" class="block mb-2 text-sm font-medium text-black"
        >Price</label
      >
      <input
        type="number"
        id="price"
        formControlName="price"
        class="bg-gray-50 border border-blue-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="e.g., 100"
        required
      />
      @if (productForm.get('price')?.touched && productForm.get('price')?.hasError('required')) {
        <div class="text-red-500 text-sm">
          Price is required!
        </div>
      }
      @if (productForm.get('price')?.touched && productForm.get('price')?.hasError('min')) {
        <div class="text-red-500 text-sm">
          Price must be greater than zero!
        </div>
      }
    </div>
  </div>
  <div>
    <label class="block mb-2 text-sm font-medium text-black"
      >Sizes and Stock</label
    >
    <div formArrayName="sizes">
      @for (sizeGroup of sizes.controls; track $index) {
      <div [formGroupName]="$index" class="flex items-center gap-4 mb-4">
        <select
          formControlName="size"
          class="bg-gray-50 border border-blue-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          required
        >
          <option value="">Choose a size</option>
          @if (productForm.get('category')?.value === 'Sneakers') { @for (size
          of ['39', '40', '41', '42', '43', '44', '45']; track $index) {
          <option [value]="size">{{ size }}</option>
          } } @else if (productForm.get('category')?.value === 'Clothing') {
          @for (size of ['S', 'M', 'L', 'XL', 'XXL'] ; track $index) {
          <option [value]="size">{{ size }}</option>
          } } @else {
          <option disabled>No sizes available for the selected category</option>
          }
        </select>

        <input
          type="number"
          formControlName="stock"
          placeholder="Stock"
          class="bg-gray-50 border border-blue-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          required
        />
        @if (sizeGroup.get('stock')?.touched && sizeGroup.get('stock')?.hasError('required')) {
          <div class="text-red-500 text-sm">
            Stock is required!
          </div>
        }
        @if (sizeGroup.get('stock')?.touched && sizeGroup.get('stock')?.hasError('min')) {
          <div class="text-red-500 text-sm">
            Stock must be a positive number!
          </div>
        }

        <button
          type="button"
          (click)="removeSize($index)"
          class="text-red-600 hover:text-red-800 font-bold text-sm"
        >
          Remove
        </button>
      </div>
      }
    </div>

    <button
      type="button"
      (click)="addSize()"
      class="text-blue-600 hover:text-blue-800 font-bold text-sm"
    >
      + Add Size
    </button>
  </div>

  <div class="mb-6">
    <label for="description" class="block mb-2 text-sm font-medium text-black"
      >Description</label
    >
    <textarea
      id="description"
      rows="4"
      formControlName="description"
      class="bg-gray-50 border border-blue-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      placeholder="Enter a description"
      required
    ></textarea>
    @if (productForm.get('description')?.touched && productForm.get('description')?.hasError('required')) {
      <div class="text-red-500 text-sm">
        Description is required!
      </div>
    }
  </div>

  <button
    type="submit"
    class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
    [disabled]="productForm.invalid"
  >
    Submit
  </button>
</form>
