<section id="hero" class="bg-gradient-to-r from-blue-100 to-pink-100">
    <div
      class="container flex flex-col-reverse items-center px-6 mx-auto mt-10 space-y-0 md:space-y-0 md:flex-row"
    >
      <div class="justify-center flex flex-col mb-32 space-y-12 md:w-1/2">
        <h1
          class="max-w-md text-4xl font-bold text-center md:text-5xl md:text-left text-gray-800"
        >
          Fresh Sneakers & Trendy Apparel, Delivered Fast
        </h1>
        <p class="max-w-sm text-center text-gray-600">
          Discover the best in fashion with our curated sneaker and clothing
          collection. Style and comfort in every pair.
        </p>
        @if (!isLoggedIn) {
          <div class="flex justify-center md:justify-start">
            <a
            routerLink="/register"
              class="p-3 px-6 pt-2 text-white bg-blue-600 rounded-full hover:bg-blue-300"
              >Sign Up</a
            >
          </div>
        }
      </div>
  
      <div class="md:w-1/2">
        <img
          src="https://image.winudf.com/v2/image1/Y29tLm15c3Rvci5zbmVha2Vyc3dhbGxwYXBlcl9zY3JlZW5fMV8xNjAyODg2MzE5XzAxNw/screen-1.jpg?fakeurl=1&type=.jpg"
          alt="Sneaker Image"
        />
      </div>
    </div>
  </section>
  
  <section id="products" class="py-16">
    <div class="container mx-auto text-center">
      <div class="grid grid-cols-1 gap-8 mt-8 md:grid-cols-3">
        <div class="p-6 bg-white rounded-lg shadow-lg">
          <img
            src="https://i.pinimg.com/736x/7e/0f/3f/7e0f3feae4627c6cb7a1a2b3bdab00e3.jpg"
            alt="Sneaker 1"
            class="w-full h-48 object-cover rounded-md"
          />
          <a
            routerLink="/products/Sneakers"
            class="mt-4 inline-block text-white bg-blue-600 rounded-full py-2 px-6 hover:bg-blue-300"
            >Sneakers</a
          >
        </div>
        <div class="p-6 bg-white rounded-lg shadow-lg">
          <img
            src="https://w0.peakpx.com/wallpaper/828/382/HD-wallpaper-clothing-labels-logo-amoled-collage-fashion-paris-q-samsung-note-9-thumbnail.jpg"
            alt="Sneaker 2"
            class="w-full h-48 object-cover rounded-md"
          />
          <a
            routerLink="/products/Clothing"
            class="mt-4 inline-block text-white bg-blue-600 rounded-full py-2 px-6 hover:bg-blue-300"
            >Clothing</a
          >
        </div>
        <div class="p-6 bg-white rounded-lg shadow-lg">
          <img
            src="https://st.depositphotos.com/2885805/3822/v/450/depositphotos_38221333-stock-illustration-fashion-and-clothes-accessories-seamless.jpg"
            alt="Sneaker 3"
            class="w-full h-48 object-cover rounded-md"
          />
          <a
            routerLink="/products/Accessories"
            class="mt-4 inline-block text-white bg-blue-600 rounded-full py-2 px-6 hover:bg-blue-300"
            >Accessories</a
          >
        </div>
      </div>
    </div>
  </section>
  